body{
    background-color: gray;
}
.search{
    align-items: center;
    display: flex;
    margin-top: 200px;
    margin-left: 400px;
}
.search input{
    width: 200px;
    height: 30px;
    border-radius: 20px;
    
}
.search input :hover{
    border: 2px solid greenyellow;
    cursor: pointer;
}
.search p{
   width: 50px;
    padding: 5px;
    color:white;
    background-color: green;
    cursor: pointer;
}
.search p :hover{
    width: 50px;
     padding: 5px;
     color:white;
     background-color: rgb(10, 82, 10);
     cursor: pointer;
 }

